/**************************logo images size***********************/
#logoPosition{
    padding:0 2px;
    margin-top:15px;
}
#logoSize{
    width: 40px;
    height: 40px;
}
#navPosition{
    padding-bottom:0px;
}
#navbarcollapse{
     margin-top: 10px;
}
#searchBarMargin{
    margin-top: 10px;
    margin-left:10px;
}
/**************************SarchBar section***********************/
#searchOption{
	float: left;
	width: 80%;
}
/**************************Slide Styles***************************/
/*#slider {
    margin-top: 90px;
    margin-bottom: 20px; 
    width: 1170px;
    height: 600px;
    overflow: hidden;
}

#slider .slides {
    display: block;
    width: 6000px;
    height: 600px;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 1200px;
    height: 600px;
}
#slider .slide img{
	width:1200px;
}

@media(max-width:768px){
    #slider {
    width: 768px;
    height: 400px;
    overflow: hidden;
}

#slider .slides {
    display: block;
    width: 3840px;
    height: 400px;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 768px;
    height: 400px;
}
#slider .slide img{
    width:768px;
}
}*/
#myCarousel {
    margin-top:70px;
}
/************************Search Result Section CSS*******************/
#searchResults{
    overflow: hidden;
    margin-top:90px;
}
#resultValues{
    text-align: center;
}
.panelImageHeight{
    height: 400px;
}

.panelTitleHeight{
    height: 50px;
    margin-bottom:10px;
}

/******************modal images section*******************************/
#modalImage{
    margin:10px;
}

/***************************footer section css************************/
footer {
    background: black;
    color: white;
    font-size: 11px;
    margin-bottom: 0;
}
footer ul.unstyled {
    list-style: none;
    padding: 0;
    text-decoration: none;
}
footer ul.unstyled li a {
    color: white;
}